<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Tema1.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EB23EBDD1E6DCA130030AE3A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EB23EBF61E6DCA130030AE3A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EB23EC011E6DCA130030AE3A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
