<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Laborator4.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EBEB777D1E79214F0046E9EA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EBEB77961E79214F0046E9EA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EBEB77A11E79214F0046E9EA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
